<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:fragment = "layout(content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title th:text="${title}">Base html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
	<!--navbar code-->
		    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Smart Contact Manager</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav ms-auto text-uppercase">
		        <li class="nav-item">
		          <a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Home</a>
		        </li>
		        
		        
		        <li class="nav-item">
		          <a class="nav-link" href="#"
		          ><span th:text="${user.name}"></span></a>
		        </li>
		        
		        <li class="nav-item">
		          <a th:href = "@{/logout}" class="nav-link ">Logout</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
    
    <!--navbar code end-->
    
     <!--sidebar start-->
    
   <div class="sidebar mt-2">
   
   		<span th:onclick="toggleSidebar()" class="crossBtn">&times;</span>
   
   		<a href="#" th:href="@{/user/index}"  class= "item"><i class="fa-solid fa-house" style="margin-right:10px"></i> Home</a>
   		<a href="#" th:href="@{/user/show-contacts/0}" class= "item"><i class="fa-solid fa-address-book"  style="margin-right:10px"></i> View Contacts</a>
   		<a href="#" th:href="@{/user/add-contact}" class= "item"><i class="fa-solid fa-pencil"  style="margin-right:10px"></i> Add Contacts</a>
   		<a href="#" class= "item"><i class="fa-solid fa-user"  style="margin-right:10px"></i> Your Profile</a>
   		<a href="#" class= "item"><i class="fa-solid fa-gear"  style="margin-right:10px"></i> Settings</a>
   		<a href="#" th:href="@{/logout}" class= "item"><i class="fa-solid fa-right-from-bracket"  style="margin-right:10px"></i> Logout</a>
   		
   		<div class="divider"></div>
   
   </div>
   
   <!--sidebar end-->
   
   <!--content start-->
   
   <div class="content mt-5">
   
   	<i th:onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
   
   <!--message box-->
   <div th:if="${session.message}"   class="container">
   		<div th:classappend="${'alert-' + session.message.type}"  class="alert  text-center" role="alert">
		  <span th:text="${session.message.content}"></span>
		</div>
		
		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
   
   </div>
   
   
   	
   
   	<div th:replace = "${content}"></div>
   </div>
    
    <!--content end-->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
    	function deleteContact(cid){
    		swal({
			  title: "Are you sure?",
			  text: "You want to delete this contact?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {
			    window.location="/user/delete/"+cid;
			  } else {
			    swal("Your contact is safe!");
			  }
			});
    	}	
    </script>
    
    <script th:src="@{/js/script.js}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
  </body>
</html>